/* General Nav Container */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #12151c; /* Darker navy-black for strong contrast */
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 75px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle glow effect */
  border-bottom: 2px solid #661b1c; /* Deep red accent border */
}

/* When scrolled, reduce navbar height */
.nav-container.shrink {
  padding: 5px 10px;
  background-color: #191d26; /* Slightly lighter navy */
}

.nav-left {
  font-size: 1.5rem; /* Reduced font size for better alignment */
  font-weight: bold;
  color: #e1ceb6; /* Light beige for contrast */
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.nav-left p {
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* Ensure proper sizing for social icons */
.social-links a {
  color: #e1ceb6;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #c03032;
}

/* Resume Box styling */
.resume-box {
  display: flex;
  align-items: center;
  background-color: #661b1c;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.resume-box:hover,
.resume-box:active {
  background-color: #531516; /* Darker red */
  color: #e1ceb6; /* Light beige */
}

.resume-box svg {
  margin-right: 8px;
}
