.project-card {
  border: 2px solid #661b1c; /* Deep red border */
  border-radius: 12px;
  overflow: hidden;
  background-color: #12151c; /* Dark navy */
  padding: 15px;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.project-title {
  margin-top: 10px;
  color: #e1ceb6; /* Light beige */
  font-size: 1.2rem;
}

.project-list {
  text-align: left;
  padding-left: 15px;
  color: #e1ceb6; /* Light beige */
}
