
  /* Individual Tech Boxes */
  .tech-box {
    background-color: #12151c; /* Dark background for contrast */
    color: #e1ceb6; /* Light color for the text */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  /* Hover Effect */
  .tech-box:hover {
    background-color: #661b1c; /* Darker red on hover */
  }