.nav-link {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover,
  .nav-link:active {
    background-color: rgb(193, 185, 185);
  }
  .nav-container {
    position: relative;
}

.links-container {
    position: relative;
    z-index: 1;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
